/* 1.genral to all */

body{
    font-family:'Merriweather', serif;
    font-size:25px;
    margin:0;
    background-color: #191919;
    color:#8e8e8e;

}
header{
    margin:0 0;
    color:white;
    display: grid;
    grid-template-rows: 1fr auto;
}
main{
    margin:0 10vh;
}

    /* 1.1 navigation bar */
nav{
    background-color: #2c3e50;
    width:100%;
    display: block;
}
nav ul{
    list-style-type:none;
    float:right;
    margin-right:20px;
    display:grid;
    grid-template-columns: repeat(6,1fr);
}
nav ul li{
    margin:0 20px;
    line-height:80px;
    text-decoration: none;
}
.menu-icon{
    font-size:30px;
    color:white;
    float:right;
    line-height:80px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
.toggle-menu{
    display:none;
}
@media (max-width:800px){
    .menu-icon{
        display:block;
    }
    nav ul{
        width:100%;
        background-color: #2c3e50;
        top:80px;
        left:-100%;
        text-align:center;
        transition:all .5s;
        display:grid;
        grid-template-rows: repeat(6,1fr);
    }
    nav ul li{
        display:block;
        text-decoration:none;
        margin:auto;
        line-height:50px;
    }
    #toggle-menu:not(checked) ~ ul{
        display:none;
    }
    #toggle-menu:checked ~ ul{
        display:block;
    }
    
}

/*current page */
.current_page{
    text-align:left;
    padding:15px 15px 0 5px;
    border: 2px solid;
    box-sizing: content-box;
    width:60%;
    margin:0;
    font-size:10px;

}


        /* 1.2 anchor tag styling */
a{
    color:aqua;
    text-decoration: none;
}
a:active{
    color:rgba(0, 255, 255, 0.497);
    text-decoration: none;
}
a:hover{
        color:rgb(21, 73, 206); 
        text-decoration: underline;
}
a:visited{
    color:rgba(0, 255, 255, 0.68);
}


        /* 1.3 footer */
footer{
    height:10%;
    bottom:0;
    left:0;
    right:0;
    z-index: 10;
    margin:0;
    background-color:#282A35;
    color:#f1f1f1;
    text-align:center;
    display:inline-flex;
    width: 100%;
}
footer p{
    border:solid 2px grey;
    box-sizing: content-box;
    margin:5vh auto;
}
video{
    height:50vh;
    width:100vh;
    display:block;
    margin:auto;
}
h2,h3{
    text-align:center;
}



/* 2.home page only*/
.home_main img{
    height:50vh;
    border-radius: 90%;
    display: block;
    margin:0 auto;
    width:70vh;
}
.home_main{
    display:grid;
    justify-content: center;
    align-items: center;
}
.contact_button{
    margin:0 auto;
}

/* 3.hobbies page only */
audio{
    margin:0 auto;
    display:block;
}
.hobbies_main img{
    width:70vh;
    display:block;
    margin:0 auto;
    height:40vh;

}
/* 4.experience  page only */
table td{
    padding:5px;
    text-align:left;
}
.part_3 ul{
    margin:0;
}


/* 5.contact page only */
.icon_links{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:center;
    justify-items: center;

}
.icon_links img{
    all:initial;
    width:50px;
    height:50px;
    margin-left:5px;
}
.phone{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center ;
}
.phone img {
    all:initial;
    width:70px;
    height:70px;
    padding-right:10px;
}

/* 6.about page only */
.about_main{
    display:grid;
}
.memory{
    display:grid;
}
