/* general to all pages*/

body{
    font-family:'Merriweather', serif;;
    font-size:20px;
    margin:0;
}
.navigation_bar{
    display:flex;
    background-color:aquamarine;
    padding:5px;
    justify-content:flex-end;
    gap:10px;

}
.nav{
    display:flex;
    list-style:none;
}
.nav li{
    margin-right:50px;


}
.toggle-menu{
    display:none;
}
.menu-icon{
    display:none;
    cursor:pointer;

}
@media only screen and (max-width:600px){
    .nav{
        display:none;
        flex-direction:column;
        position:absolute;
        width:100%;
        background-color:#0f1056;
    }
    .toggle-menu:checked + .nav{
        display:flex;
    }
    .menu-icon{
        display:block;
    }
    .nav li{
        margin-right:0;
        margin-bottom:10px;
    }
}

 a:active{
    color:royalblue;
}
a:hover{
    
}
#toggle-menu{
    display:none;
}
#toggle-menu:checked ~ .nav{
    display: block;
}

.current_page{

}



footer{

}

/* specific to Home page*/

/* specific to Hobbies page*/

/* specific to experience page*/

/* specific to contact page*/

/* specific to about page*/
